:root {
    /* Primary color shades */
    --md-primary-fg-color:        #991b1e;
    --md-primary-fg-color--light: #e36424;
    --md-primary-fg-color--dark:  #69090d;
}

[data-md-color-scheme="slate"] {
    /* Lighten primary color in dark mode */
    --md-primary-fg-color: #ff465f;
    --md-primary-fg-color--light: #ff7b8f;
    --md-primary-fg-color--dark: #cc0033;
}
